@import "css/bootstrap";
@import "css/font-awesome";
@import "material-kit";


// CSS
@import "css/animate";
@import "css/select2";
@import "css/select2-bootstrap";


@import "main";
@import "spinner";



// LAYOUT
body {
  background-color: #FAFAFA;
}
.content-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
}

// CARD
.card {
  padding: 10px;
  margin-bottom: 10px;
}
.card-title {
  text-transform: uppercase;
  font-size: 1.17em;
}
.card-body {
  // padding-top: 20px;
  padding-bottom: 20px;
}

// NAVBAR
.navbar .navbar-nav .profile-photo {
  padding: 0;
}

.navbar .navbar-nav .profile-photo .profile-photo-small {
  height: 40px;
  width: 40px;
}

.navbar .navbar-nav .profile-photo .profile-photo-text {
  margin-left: 40px;
  position: absolute;
  top: 20px;
}
.navbar-transparent .btn {
  // background-color: rgba(255, 255, 255, 0.1) !important;
  // border: 1px solid rgba(255, 255, 255, 0.3) !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
// .navbar-transparent .btn:hover {
//   background-color: $brand-primary !important;
// }

// BANNER
.banner {
  background: url('img/banner.jpg') center center no-repeat;
  background-size: cover;
  height: 600px;
}
.banner-search {
  margin-top: 300px;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fefefe30;
}
.banner-search .form-group {
  margin-bottom: 0px;
}
.banner-search .form-group {
  margin-bottom: 0px;
}
.banner-search .btn {
  margin: 0px;
  height: 44px;
  width: 100%;
}
.banner .select2-container {
  width: 100% !important;
}
.nomargin {
  padding: 0px 5px 0px 5px !important;

}
@media only screen and (max-width: 768px) {
  .banner-search .form-group {
    margin-bottom: 10px;
  }
}


// UPLOAD IMAGE
.image-upload-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-upload-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-upload-input-title {
  margin-left:2px;
}
.image-upload .btn {
  margin: 0px;
  padding-bottom: 2px;
  height: 34px;
}
.image-upload .btn .fa{
  top: -3px !important;
  margin-top: 0px !important;
}
